
.Blog ul{
    list-style: none;
    margin: 0 auto;
    padding: 0 auto;
    width: 100%;
    text-align: center;
    
}


.Blog li{
    margin: 25px;
    display: inline-block;
}

.Blog a{
    text-decoration: none;
    color: black;
}

.Blog a:active,
.Blog a:hover{
    color: brown;
}